.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .box .UPFI-dark-full-card-wrapper {
    border: 0px none;
    height: 370px;
    width: 363px;
  }
  
  .box .UPFI-dark-full-card {
    height: 370px;
    left: 0;
    position: fixed;
    top: 0;
    width: 363px;
  }
  
  .box .UPFI-light-full-card {
    height: 370px;
  }
  
  .box .overlap-group {
    height: 370px;
    position: relative;
    width: 363px;
  }
  
  .box .UPFI-full-card-light {
    height: 370px;
    left: 0;
    position: absolute;
    top: 0;
    width: 363px;
  }
  
  .box .group {
    height: 250px;
    left: -10px;
    position: absolute;
    top: -7px;
    width: 363px;
    margin-left: 10px;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 7px;
    letter-spacing: -0.17px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 254px;
    white-space: nowrap;
    width: 129px;
  }
  
  .box .a-quintessential {
    color: #ffffff;
    font-family: "Livvic-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 10px;
    letter-spacing: -0.17px;
    line-height: normal;
    position: absolute;
    top: 283px;
    width: 345px;
  }
  
  .box .UPFI-big-button {
    height: 30px;
    left: 228px;
    position: absolute;
    top: 329px;
    width: 127px;
  }
  
  .box .more-info {
    color: #222222;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 19px;
    letter-spacing: -0.17px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
  }
  
  