.UPFI-big-button {
    height: 30px;
    width: 127px;
  }
  
  .UPFI-big-button .overlap-group {
    height: 29px;
    position: relative;
  }
  
  .UPFI-big-button .rectangle {
    background-color: #d6e4ca;
    border-radius: 100px;
    height: 28px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 127px;
  }
  
  .UPFI-big-button .more-info {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  