.UPFI-split-card-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 10px 8px 40px;
  }
  
  .UPFI-light-split {
    height: 316px;
    width: 170px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    color: #000000; /* Set default font color */
    background-color: #ffffff; /* Set default background color */
  }
  
  .UPFI-dark-split {
    height: 316px;
    width: 170px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    color: #ffffff; /* Set font color for dark mode */
    background-color: #000000; /* Set background color for dark mode */
  }
  
  .UPFI-light-split .div {
    height: 316px;
    position: relative;
    background-color: white; /* Set background color for light mode */
  }

  .div {
    border-radius: 10px;
  }
  
  .UPFI-light-split .UPFI-split-card-dark {
    height: 316px;
    left: 0;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
  .UPFI-light-split .group {
    max-height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    max-width: 100%;
    object-fit: cover;
    background-color: #000000;
  }
  
  .UPFI-light-split .schaumrolle {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    left: 14px;
    letter-spacing: -0.17px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 160px;
    width: 102px;
  }


  .UPFI-light-split .a-delicate-pastry {
    font-family: "Livvic-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 14px;
    letter-spacing: -0.17px;
    line-height: 14px;
    position: absolute;
    top: 170px;
    width: 145px;
  }
  
  .UPFI-light-split .UPFI-little-button-instance {
    left: 85px !important;
    position: absolute !important;
    top: 278px !important;
  }
  
  .light .schaumrolle,
  .light .a-delicate-pastry {
    color: black;
  }
  
  .dark .schaumrolle,
  .dark .a-delicate-pastry {
    color: white;
  }
  
  .light .div {
    background-color: white;
  }
  
  .dark .div {
    background-color: #222222;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  